{% extends "base.html" %}
{% block content %}
<div class="row">
   <h2>Contactanos</h2>
   <form class="well span9">
      <div class="span3">
         <label>Nombre</label>
         <input type="text" class="span3" placeholder="Tu Nombre">
         <label>Email</label>
         <input type="text" class="span3" placeholder="Tu correo electronico">
         <label>Motivo</label>
         <select id="subject" name="subject" class="span3">
            <option value="na" selected="">Escoja uno:</option>
            <option value="service">Servicio a Cliente</option>
            <option value="suggestions">Sugerencias</option>
            <option value="product">Soporte</option>
         </select>
      </div>
      <div class="span5">
         <label>Mensaje</label>
         <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Send</button>
   </form>
</div>
{% endblock %}
